/* _Primitive - EOP_chung */
:root {
  --Spacing-0px: 0px;
  --Spacing-1px: 1px;
  --Spacing-2px: 2px;
  --Spacing-3px: 3px;
  --Spacing-4px: 4px;
  --Spacing-6px: 6px;
  --Spacing-8px: 8px;
  --Spacing-10px: 10px;
  --Spacing-12px: 12px;
  --Spacing-16px: 16px;
  --Color-Brand-00: #F8F7FAFF;
  --Spacing-20px: 20px;
  --Color-Brand-01: #ECE6FEFF;
  --Spacing-24px: 24px;
  --Spacing-32px: 32px;
  --Color-Brand-02: #C4B0FCFF;
  --Spacing-36px: 36px;
  --Spacing-40px: 40px;
  --Color-Brand-03: #A88AFAFF;
  --Spacing-44px: 44px;
  --Color-Brand-04: #8054F8FF;
  --Spacing-48px: 48px;
  --Color-Brand-05: #6733F7FF;
  --Spacing-56px: 56px;
  --Spacing-64px: 64px;
  --Color-Brand-06: #5A1FFFFF;
  --Color-Brand-07: #3B00DFFF;
  --Spacing-80px: 80px;
  --Spacing-96px: 96px;
  --Color-Brand-08: #2E00AEFF;
  --Color-Brand-09: #240087FF;
  --Spacing-128px: 128px;
  --Color-Brand-10: #1B0067FF;
  --Spacing-160px: 160px;
  --Spacing-192px: 192px;
  --Spacing-256px: 256px;
  --Spacing-288px: 288px;
  --Spacing-320px: 320px;
  --Spacing-384px: 384px;
  --Spacing-480px: 480px;
  --Spacing-560px: 560px;
  --Spacing-640px: 640px;
  --Spacing-720px: 720px;
  --Spacing-768px: 768px;
  --Spacing-960px: 960px;
  --Spacing-1024px: 1024px;
  --Spacing-1152px: 1152px;
  --Spacing-1280px: 1280px;
  --Spacing-1440px: 1440px;
  --Spacing-1600px: 1600px;
  --Spacing-1920px: 1920px;
  --Color-Neutral-01: #FFFFFFFF;
  --Color-Neutral-02: #F9FAFAFF;
  --Color-Neutral-03: #EAEEEEFF;
  --Color-Neutral-04: #CBD3D4FF;
  --Color-Neutral-05: #B2BDBEFF;
  --Color-Neutral-06: #98A7A9FF;
  --Color-Neutral-07: #8B9C9EFF;
  --Color-Neutral-08: #718588FF;
  --Color-Neutral-09: #5E7275FF;
  --Color-Neutral-10: #4B5B5EFF;
  --Color-Neutral-11: #384546FF;
  --Color-Neutral-12: #262C2DFF;
  --Color-Gray-01: #FFFFFFFF;
  --Color-Gray-02: #F7F7F7FF;
  --Color-Gray-03: #EDEDEDFF;
  --Color-Gray-04: #DCDCDCFF;
  --Color-Gray-05: #BDBDBDFF;
  --Color-Gray-06: #989898FF;
  --Color-Gray-07: #7C7C7CFF;
  --Color-Gray-08: #656565FF;
  --Color-Gray-09: #525252FF;
  --Color-Gray-10: #464646FF;
  --Color-Gray-11: #3D3D3DFF;
  --Color-Gray-12: #292929FF;
  --Color-Blue-01: #F6FAFFFF;
  --Color-Blue-02: #E1ECFFFF;
  --Color-Blue-03: #BED6FFFF;
  --Color-Blue-04: #91BAFEFF;
  --Color-Blue-05: #669DFBFF;
  --Color-Blue-06: #387FF6FF;
  --Color-Blue-07: #1C6EF3FF;
  --Color-Blue-08: #175FD3FF;
  --Color-Blue-09: #1250B4FF;
  --Color-Blue-10: #0D4197FF;
  --Color-Blue-11: #08337AFF;
  --Color-Blue-12: #05265EFF;
  --Color-Cyan-01: #F5FEFFFF;
  --Color-Cyan-02: #ECFEFFFF;
  --Color-Cyan-03: #CFFAFEFF;
  --Color-Cyan-04: #A5F3FCFF;
  --Color-Cyan-05: #67E8F9FF;
  --Color-Cyan-06: #22D3EEFF;
  --Color-Cyan-07: #06B6D4FF;
  --Color-Cyan-08: #0891B2FF;
  --Color-Cyan-09: #0E7490FF;
  --Color-Cyan-10: #155E75FF;
  --Color-Cyan-11: #164E63FF;
  --Color-Cyan-12: #083344FF;
  --Color-Green-01: #F6FFF8FF;
  --Color-Green-02: #F0FDF3FF;
  --Color-Green-03: #DCFCE3FF;
  --Color-Green-04: #BAF8C9FF;
  --Color-Green-05: #7BEF98FF;
  --Color-Green-06: #48E06FFF;
  --Color-Green-07: #20C74BFF;
  --Color-Green-08: #14A53AFF;
  --Color-Green-09: #148131FF;
  --Color-Green-10: #15662BFF;
  --Color-Green-11: #135426FF;
  --Color-Green-12: #052E11FF;
  --Color-Lime-01: #FDFFF8FF;
  --Color-Lime-02: #F7FEE7FF;
  --Color-Lime-03: #ECFCCBFF;
  --Color-Lime-04: #D9F99DFF;
  --Color-Lime-05: #BEF264FF;
  --Color-Lime-06: #A3E635FF;
  --Color-Lime-07: #84CC16FF;
  --Color-Lime-08: #65A30DFF;
  --Color-Lime-09: #4D7C0FFF;
  --Color-Lime-10: #3F6212FF;
  --Color-Lime-11: #365314FF;
  --Color-Lime-12: #1A2E05FF;
  --Color-Yellow-01: #FFFEF3FF;
  --Color-Yellow-02: #FEFCE8FF;
  --Color-Yellow-03: #FEF9C3FF;
  --Color-Yellow-04: #FEF08AFF;
  --Color-Yellow-05: #FDE047FF;
  --Color-Yellow-06: #FBBF24FF;
  --Color-Yellow-07: #F59E0BFF;
  --Color-Yellow-08: #D97706FF;
  --Color-Yellow-09: #B45309FF;
  --Color-Yellow-10: #92400EFF;
  --Color-Yellow-11: #78350FFF;
  --Color-Yellow-12: #451A03FF;
  --Color-Orange-01: #FFFBF5FF;
  --Color-Orange-02: #FFF7EDFF;
  --Color-Orange-03: #FFEDD5FF;
  --Color-Orange-04: #FED7AAFF;
  --Color-Orange-05: #FDBA74FF;
  --Color-Orange-06: #FB923CFF;
  --Color-Orange-07: #FF6A00FF;
  --Color-Orange-08: #EA580CFF;
  --Color-Orange-09: #C2410CFF;
  --Color-Orange-10: #9A3412FF;
  --Color-Orange-11: #7C2D12FF;
  --Color-Orange-12: #431407FF;
  --Color-Red-01: #FFFAF9FF;
  --Color-Red-02: #FEF3F2FF;
  --Color-Red-03: #FFE3E1FF;
  --Color-Red-04: #FFCCC8FF;
  --Color-Red-05: #FF9088FF;
  --Color-Red-06: #FF6A60FF;
  --Color-Red-07: #F54A3EFF;
  --Color-Red-08: #E54034FF;
  --Color-Red-09: #BF2116FF;
  --Color-Red-10: #9D2017FF;
  --Color-Red-11: #82211AFF;
  --Color-Red-12: #470C08FF;
  --Color-Pink-01: #FFF8FCFF;
  --Color-Pink-02: #FDF2F8FF;
  --Color-Pink-03: #FCE7F3FF;
  --Color-Pink-04: #FBCFE8FF;
  --Color-Pink-05: #F9A8D4FF;
  --Color-Pink-06: #F472B6FF;
  --Color-Pink-07: #EC4899FF;
  --Color-Pink-08: #DB2777FF;
  --Color-Pink-09: #BE185DFF;
  --Color-Pink-10: #9D174DFF;
  --Color-Pink-11: #831843FF;
  --Color-Pink-12: #500724FF;
  --Color-Fuchsia-01: #FEF9FFFF;
  --Color-Fuchsia-02: #FDF4FFFF;
  --Color-Fuchsia-03: #FAE8FFFF;
  --Color-Fuchsia-04: #F5D0FEFF;
  --Color-Fuchsia-05: #F0ABFCFF;
  --Color-Fuchsia-06: #E879F9FF;
  --Color-Fuchsia-07: #D946EFFF;
  --Color-Fuchsia-08: #C026D3FF;
  --Color-Fuchsia-09: #A21CAFFF;
  --Color-Fuchsia-10: #86198FFF;
  --Color-Fuchsia-11: #701A75FF;
  --Color-Fuchsia-12: #4A044EFF;
  --Color-Purple-01: #FEF8FFFF;
  --Color-Purple-02: #FAF5FFFF;
  --Color-Purple-03: #F3E8FFFF;
  --Color-Purple-04: #E9D5FFFF;
  --Color-Purple-05: #D8B4FEFF;
  --Color-Purple-06: #C084FCFF;
  --Color-Purple-07: #A855F7FF;
  --Color-Purple-08: #9333EAFF;
  --Color-Purple-09: #7E22CEFF;
  --Color-Purple-10: #6B21A8FF;
  --Color-Purple-11: #581C87FF;
  --Color-Purple-12: #3B0764FF;
  --Color-Alpha-Black-85: #000000D9;
  --Color-Alpha-Black-75: #000000BF;
  --Color-Alpha-Black-50: #00000080;
  --Color-Alpha-Black-40: #00000066;
  --Color-Alpha-Black-25: #00000040;
  --Color-Alpha-Black-15: #00000026;
  --Color-Alpha-Black-10: #0000001A;
  --Color-Alpha-Black-5: #0000000D;
  --Color-Alpha-White-90: #FFFFFFE5;
  --Color-Alpha-White-80: #FFFFFFCC;
  --Color-Alpha-White-70: #FFFFFFB2;
  --Color-Alpha-White-60: #FFFFFF99;
  --Color-Alpha-White-50: #FFFFFF80;
  --Color-Alpha-White-40: #FFFFFF66;
  --Color-Alpha-White-30: #FFFFFF4D;
  --Color-Alpha-White-20: #FFFFFF33;
  --Color-Alpha-White-10: #FFFFFF1A;
  --Color-Alpha-Dark-Brand-85: #1B0067D9;
  --Color-Alpha-Light-Brand-85: #4100F5D9;
  --Color-Alpha-Light-Brand-75: #4100F5BF;
  --Color-Alpha-Dark-Brand-75: #1B0067BF;
  --Color-Alpha-Light-Brand-50: #4100F580;
  --Color-Alpha-Dark-Brand-50: #1B006780;
  --Color-Alpha-Dark-Brand-40: #1B006766;
  --Color-Alpha-Light-Brand-40: #4100F566;
  --Color-Alpha-Light-Brand-25: #4100F540;
  --Color-Alpha-Dark-Brand-25: #1B006740;
  --Color-Alpha-Light-Brand-15: #4100F526;
  --Color-Alpha-Dark-Brand-15: #1B006726;
  --Color-Alpha-Light-Brand-10: #4100F51A;
  --Color-Alpha-Dark-Brand-10: #1B00671A;
}


/* 01. Color - EOP_chung */
:root {
  --Text-primary: var(--Color-Gray-12);
  --Text-secondary: var(--Color-Gray-09);
  --Text-tertiary: var(--Color-Gray-07);
  --Text-disabled: var(--Color-Gray-05);
  --Component-Input-text-label-default: var(--Text-secondary);
  --Text-on_brand: var(--Color-Gray-01);
  --Text-brand-primary: var(--Color-Brand-06);
  --Text-brand-secondary: var(--Color-Brand-05);
  --Text-brand-tertiary: var(--Color-Brand-03);
  --Text-success-primary: var(--Color-Green-08);
  --Text-success-secondary: var(--Color-Green-07);
  --Text-success-tertiary: var(--Color-Green-06);
  --Text-md-warning-primary: var(--Color-Orange-07);
  --Text-md-warning-secondary: var(--Color-Orange-06);
  --Text-md-warning-tertiary: var(--Color-Orange-05);
  --Text-hi-warning-primary: var(--Color-Red-07);
  --Text-hi-warning-secondary: var(--Color-Red-06);
  --Text-hi-warning-tertiary: var(--Color-Red-05);
  --Bg-gray-primary: var(--Color-Gray-01);
  --Bg-gray-secondary: var(--Color-Gray-02);
  --Bg-gray-tertiary: var(--Color-Gray-03);
  --Bg-gray-disabled: var(--Color-Gray-04);
  --Bg-brand-emphasis: var(--Color-Brand-08);
  --Bg-info-emphasis: var(--Color-Blue-08);
  --Bg-info-primary: var(--Color-Blue-07);
  --Bg-info-secondary: var(--Color-Blue-05);
  --Bg-info-tertiary: var(--Color-Blue-03);
  --Bg-info-quaternary: var(--Color-Blue-02);
  --Bg-info-quinary: var(--Color-Blue-01);
  --Bg-brand-primary: var(--Color-Brand-06);
  --Bg-brand-secondary: var(--Color-Brand-05);
  --Bg-brand-tertiary: var(--Color-Brand-03);
  --Bg-brand-quaternary: var(--Color-Brand-02);
  --Bg-brand-quinary: var(--Color-Brand-01);
  --Bg-success-emphasis: var(--Color-Green-08);
  --Bg-success-primary: var(--Color-Green-07);
  --Bg-success-secondary: var(--Color-Green-03);
  --Bg-success-tertiary: var(--Color-Green-02);
  --Bg-success-quaternary: var(--Color-Green-01);
  --Bg-low-warning-emphasis: var(--Color-Yellow-08);
  --Bg-low-warning-primary: var(--Color-Yellow-07);
  --Bg-low-warning-secondary: var(--Color-Yellow-03);
  --Bg-low-warning-tertiary: var(--Color-Yellow-02);
  --Bg-low-warning-quaternary: var(--Color-Yellow-01);
  --Bg-md-warning-emphasis: var(--Color-Orange-08);
  --Bg-md-warning-primary: var(--Color-Orange-07);
  --Bg-md-warning-secondary: var(--Color-Orange-03);
  --Bg-md-warning-tertiary: var(--Color-Orange-02);
  --Bg-md-warning-quarternary: var(--Color-Orange-01);
  --Bg-hi-warning-emphasis: var(--Color-Red-08);
  --Bg-hi-warning-primary: var(--Color-Red-07);
  --Bg-hi-warning-secondary: var(--Color-Red-03);
  --Bg-hi-warning-tertiary: var(--Color-Red-02);
  --Bg-hi-warning-quarternary: var(--Color-Red-01);
  --Border-gray-primary: var(--Color-Gray-06);
  --Border-gray-secondary: var(--Color-Gray-04);
  --Border-gray-tertiary: var(--Color-Gray-03);
  --Border-gray-disabled: var(--Color-Gray-05);
  --Border-gray-white: var(--Color-Gray-01);
  --Border-gray-black: var(--Color-Gray-09);
  --Component-Input-text-content-placeholder: var(--Text-tertiary);
  --Border-brand-strong: var(--Color-Brand-09);
  --Border-brand-main: var(--Color-Brand-07);
  --Border-brand-secondary: var(--Color-Brand-04);
  --Border-brand-tertiary: var(--Color-Brand-02);
  --Border-info-primary: var(--Color-Blue-04);
  --Border-info-secondary: var(--Color-Blue-03);
  --Border-success-primary: var(--Color-Green-04);
  --Border-success-secondary: var(--Color-Green-03);
  --Border-low-warning-primary: var(--Color-Yellow-05);
  --Border-low-warning-secondary: var(--Color-Yellow-04);
  --Border-md-warning-primary: var(--Color-Orange-05);
  --Border-md-warning-secondary: var(--Color-Orange-03);
  --Border-hi-warning-primary: var(--Color-Red-06);
  --Border-hi-warning-secondary: var(--Color-Red-04);
  --Display-brand-primary: var(--Color-Brand-07);
  --Utility-red-medium: var(--Color-Red-08);
  --Utility-red-light: var(--Color-Red-06);
  --Utility-orange-light: var(--Color-Orange-06);
  --Utility-orange-medium: var(--Color-Orange-08);
  --Utility-lime-light: var(--Color-Lime-06);
  --Utility-lime-medium: var(--Color-Lime-08);
  --Utility-green-medium: var(--Color-Green-08);
  --Utility-green-light: var(--Color-Green-06);
  --Utility-cyan-light: var(--Color-Cyan-06);
  --Utility-cyan-medium: var(--Color-Cyan-08);
  --Utility-blue-light: var(--Color-Blue-05);
  --Utility-blue-medium: var(--Color-Blue-07);
  --Utility-purple-light: var(--Color-Purple-06);
  --Utility-purple-medium: var(--Color-Purple-08);
  --Utility-fuchsia-light: var(--Color-Fuchsia-06);
  --Utility-fuchsia-medium: var(--Color-Fuchsia-08);
  --Utility-pink-light: var(--Color-Pink-06);
  --Utility-pink-medium: var(--Color-Pink-08);
  --Utility-yellow-light: var(--Color-Yellow-06);
  --Utility-yellow-medium: var(--Color-Yellow-08);
  --Display-brand-secondary: var(--Color-Brand-05);
  --Display-brand-tertiary: var(--Color-Brand-03);
  --Display-brand-quaternary: var(--Color-Brand-02);
  --Display-gray-white: var(--Color-Gray-01);
  --Display-gray-ash: var(--Color-Gray-03);
  --Display-gray-stone: var(--Color-Gray-04);
  --Display-gray-slate: var(--Color-Gray-06);
  --Display-gray-coal: var(--Color-Gray-10);
  --Display-blue-ghost: var(--Color-Blue-01);
  --Display-blue-light: var(--Color-Blue-02);
  --Display-blue-soft: var(--Color-Blue-03);
  --Display-blue-main: var(--Color-Blue-07);
  --Display-blue-strong: var(--Color-Blue-09);
  --Display-cyan-ghost: var(--Color-Cyan-01);
  --Display-cyan-light: var(--Color-Cyan-03);
  --Display-cyan-soft: var(--Color-Cyan-05);
  --Display-cyan-main: var(--Color-Cyan-06);
  --Display-cyan-strong: var(--Color-Cyan-07);
  --Display-green-ghost: var(--Color-Green-01);
  --Display-green-light: var(--Color-Green-02);
  --Display-green-soft: var(--Color-Green-05);
  --Display-green-main: var(--Color-Green-07);
  --Display-green-strong: var(--Color-Green-08);
  --Display-lime-ghost: var(--Color-Lime-01);
  --Display-lime-light: var(--Color-Lime-02);
  --Display-lime-soft: var(--Color-Lime-05);
  --Display-lime-main: var(--Color-Lime-07);
  --Display-lime-strong: var(--Color-Lime-09);
  --Display-yellow-ghost: var(--Color-Yellow-01);
  --Display-yellow-light: var(--Color-Yellow-02);
  --Display-yellow-soft: var(--Color-Yellow-05);
  --Display-yellow-main: var(--Color-Yellow-07);
  --Display-yellow-strong: var(--Color-Yellow-08);
  --Display-orange-ghost: var(--Color-Orange-01);
  --Display-orange-light: var(--Color-Orange-02);
  --Display-orange-soft: var(--Color-Orange-05);
  --Display-orange-main: var(--Color-Orange-06);
  --Display-orange-strong: var(--Color-Orange-08);
  --Display-red-ghost: var(--Color-Red-01);
  --Display-red-light: var(--Color-Red-02);
  --Display-red-soft: var(--Color-Red-05);
  --Display-red-main: var(--Color-Red-07);
  --Display-red-strong: var(--Color-Red-09);
  --Display-pink-ghost: var(--Color-Pink-01);
  --Display-pink-light: var(--Color-Pink-02);
  --Display-pink-soft: var(--Color-Pink-05);
  --Display-pink-main: var(--Color-Pink-06);
  --Display-pink-strong: var(--Color-Pink-07);
  --Display-fuchsia-ghost: var(--Color-Fuchsia-01);
  --Display-fuchsia-light: var(--Color-Fuchsia-02);
  --Display-fuchsia-soft: var(--Color-Fuchsia-05);
  --Display-fuchsia-main: var(--Color-Fuchsia-06);
  --Display-fuchsia-strong: var(--Color-Fuchsia-07);
  --Display-purple-ghost: var(--Color-Purple-01);
  --Display-purple-light: var(--Color-Purple-02);
  --Display-purple-soft: var(--Color-Purple-05);
  --Display-purple-main: var(--Color-Purple-06);
  --Display-purple-strong: var(--Color-Purple-07);
  --Component-Alpha-Black-85: var(--Color-Alpha-Black-85);
  --Component-Alpha-Black-75: var(--Color-Alpha-Black-75);
  --Component-Alpha-Black-50: var(--Color-Alpha-Black-50);
  --Component-Alpha-Black-40: var(--Color-Alpha-Black-40);
  --Component-Alpha-Black-25: var(--Color-Alpha-Black-25);
  --Component-Alpha-Black-15: var(--Color-Alpha-Black-15);
  --Component-Alpha-Black-10: var(--Color-Alpha-Black-10);
  --Component-Alpha-Black-5: var(--Color-Alpha-Black-5);
  --Component-Alpha-White-90: var(--Color-Alpha-White-90);
  --Component-Alpha-White-80: var(--Color-Alpha-White-80);
  --Component-Alpha-White-70: var(--Color-Alpha-White-70);
  --Component-Alpha-White-60: var(--Color-Alpha-White-60);
  --Component-Alpha-White-50: var(--Color-Alpha-White-50);
  --Component-Alpha-White-40: var(--Color-Alpha-White-40);
  --Component-Alpha-White-30: var(--Color-Alpha-White-30);
  --Component-Alpha-White-20: var(--Color-Alpha-White-20);
  --Component-Alpha-White-10: var(--Color-Alpha-White-10);
  --Component-Alpha-Dark-Brand-85: var(--Color-Alpha-Dark-Brand-85);
  --Component-Alpha-Light-Brand-85: var(--Color-Alpha-Light-Brand-85);
  --Component-Alpha-Light-Brand-75: var(--Color-Alpha-Light-Brand-75);
  --Component-Alpha-Dark-Brand-75: var(--Color-Alpha-Dark-Brand-75);
  --Component-Alpha-Light-Brand-50: var(--Color-Alpha-Light-Brand-50);
  --Component-Alpha-Dark-Brand-50: var(--Color-Alpha-Dark-Brand-50);
  --Component-Alpha-Light-Brand-40: var(--Color-Alpha-Light-Brand-40);
  --Component-Alpha-Dark-Brand-40: var(--Color-Alpha-Dark-Brand-40);
  --Component-Alpha-Light-Brand-25: var(--Color-Alpha-Light-Brand-25);
  --Component-Alpha-Dark-Brand-25: var(--Color-Alpha-Dark-Brand-25);
  --Component-Alpha-Light-Brand-15: var(--Color-Alpha-Light-Brand-15);
  --Component-Alpha-Dark-Brand-15: var(--Color-Alpha-Dark-Brand-15);
  --Component-Alpha-Dark-Brand-10: var(--Color-Alpha-Dark-Brand-10);
  --Component-Alpha-Light-Brand-10: var(--Color-Alpha-Light-Brand-10);
  --Component-Base-Icon-black: var(--Color-Gray-09);
  --Component-Base-Icon-gray: var(--Color-Gray-06);
  --Component-Base-Icon-disabled: var(--Color-Gray-05);
  --Component-Base-Icon-white: var(--Color-Gray-01);
  --Component-Base-Icon-brand: var(--Color-Brand-07);
  --Component-Base-Icon-blue: var(--Color-Blue-07);
  --Component-Base-Icon-cyan: var(--Color-Cyan-06);
  --Component-Base-Icon-green: var(--Color-Green-08);
  --Component-Base-Icon-lime: var(--Color-Lime-07);
  --Component-Base-Icon-yellow: var(--Color-Yellow-08);
  --Component-Base-Icon-orange: var(--Color-Orange-07);
  --Component-Base-Icon-red: var(--Color-Red-07);
  --Component-Base-Icon-pink: var(--Color-Pink-06);
  --Component-Base-Icon-fuchsia: var(--Color-Fuchsia-06);
  --Component-Base-Icon-purple: var(--Color-Purple-06);
  --Component-Scroll-Bar-fg: var(--Display-gray-slate);
  --Component-Input-text-content-value: var(--Text-primary);
  --Component-Input-text-content-disabled: var(--Text-disabled);
  --Component-Input-text-content-placeholder-error: var(--Text-hi-warning-secondary);
  --Component-Input-text-content-value-error: var(--Text-hi-warning-primary);
  --Component-Input-text-helper-default: var(--Text-tertiary);
  --Component-Input-text-helper-error: var(--Text-hi-warning-primary);
  --Component-Input-border-default: var(--Border-gray-primary);
  --Component-Input-border-hover: var(--Border-gray-black);
  --Component-Input-border-disabled: var(--Border-gray-disabled);
  --Component-Input-border-error: var(--Border-hi-warning-primary);
  --Component-Input-bg-default: var(--Bg-gray-primary);
  --Component-Input-bg-disabled: var(--Bg-gray-secondary);
  --Component-Input-bg-error: var(--Bg-hi-warning-quarternary);
  --Component-Button-primary-brand-fg-default: var(--Text-on_brand);
  --Component-Select-bg-hover: var(--Bg-brand-quinary);
  --Component-Button-primary-brand-bg-default: var(--Bg-brand-primary);
  --Component-Button-primary-brand-fg-hover: var(--Text-on_brand);
  --Component-Button-primary-brand-bg-hover: var(--Bg-brand-emphasis);
  --Component-Button-primary-brand-fg-focused: var(--Text-on_brand);
  --Component-Button-primary-brand-bg-focused: var(--Bg-brand-primary);
  --Component-Button-primary-brand-fg-loading: var(--Text-on_brand);
  --Component-Button-primary-brand-bg-loading: var(--Bg-brand-primary);
  --Component-Scroll-Bar-bg: var(--Display-gray-ash);
  --Component-Button-primary-md-warning-fg-default: var(--Text-on_brand);
  --Component-Button-primary-md-warning-bg-default: var(--Bg-md-warning-primary);
  --Component-Button-primary-md-warning-fg-hover: var(--Text-on_brand);
  --Component-Button-primary-md-warning-bg-hover: var(--Bg-md-warning-emphasis);
  --Component-Button-primary-md-warning-fg-focused: var(--Text-on_brand);
  --Component-Button-primary-md-warning-bg-focused: var(--Bg-md-warning-primary);
  --Component-Button-primary-md-warning-fg-loading: var(--Text-on_brand);
  --Component-Button-primary-md-warning-bg-loading: var(--Bg-md-warning-primary);
  --Component-Button-primary-hi-warning-fg-default: var(--Text-on_brand);
  --Component-Button-primary-hi-warning-bg-default: var(--Bg-hi-warning-primary);
  --Component-Button-primary-hi-warning-fg-hover: var(--Text-on_brand);
  --Component-Button-primary-hi-warning-bg-hover: var(--Bg-hi-warning-emphasis);
  --Component-Button-primary-hi-warning-fg-focused: var(--Text-on_brand);
  --Component-Button-primary-hi-warning-bg-focused: var(--Bg-hi-warning-primary);
  --Component-Button-primary-hi-warning-fg-loading: var(--Text-on_brand);
  --Component-Button-primary-hi-warning-bg-loading: var(--Bg-hi-warning-primary);
  --Component-Button-sec-light-brand-border: var(--Border-brand-secondary);
  --Component-Button-sec-light-brand-fg-default: var(--Text-brand-primary);
  --Component-Button-sec-light-brand-bg-default: var(--Bg-brand-quinary);
  --Component-Button-sec-light-brand-fg-hover: var(--Text-brand-primary);
  --Component-Button-sec-light-brand-bg-hover: var(--Bg-brand-quaternary);
  --Component-Button-sec-light-brand-fg-focused: var(--Text-brand-primary);
  --Component-Button-sec-light-brand-bg-focused: var(--Bg-brand-quinary);
  --Component-Button-sec-light-brand-fg-loading: var(--Text-brand-primary);
  --Component-Button-sec-light-gray-border: var(--Border-gray-primary);
  --Component-Button-sec-light-brand-bg-loading: var(--Bg-brand-quinary);
  --Component-Button-sec-light-gray-fg-default: var(--Text-primary);
  --Component-Button-sec-light-gray-bg-default: var(--Bg-gray-secondary);
  --Component-Button-sec-light-gray-fg-hover: var(--Text-primary);
  --Component-Button-sec-light-gray-bg-hover: var(--Bg-gray-tertiary);
  --Component-Button-sec-light-gray-fg-focused: var(--Text-primary);
  --Component-Button-sec-light-gray-bg-focused: var(--Bg-gray-secondary);
  --Component-Button-sec-light-gray-fg-loading: var(--Text-primary);
  --Component-Button-sec-light-gray-bg-loading: var(--Bg-gray-secondary);
  --Component-Button-sec-light-md-warning-border: var(--Border-md-warning-primary);
  --Component-Button-sec-light-md-warning-fg-default: var(--Text-md-warning-primary);
  --Component-Button-sec-light-md-warning-bg-default: var(--Bg-md-warning-quarternary);
  --Component-Button-sec-light-md-warning-fg-hover: var(--Text-md-warning-primary);
  --Component-Button-sec-light-md-warning-bg-hover: var(--Bg-md-warning-tertiary);
  --Component-Button-sec-light-md-warning-fg-focused: var(--Text-md-warning-primary);
  --Component-Button-sec-light-md-warning-bg-focused: var(--Bg-md-warning-quarternary);
  --Component-Button-sec-light-md-warning-fg-loading: var(--Text-md-warning-primary);
  --Component-Button-sec-light-md-warning-bg-loading: var(--Bg-md-warning-quarternary);
  --Component-Button-sec-light-hi-warning-border: var(--Border-hi-warning-secondary);
  --Component-Button-sec-light-hi-warning-fg-default: var(--Text-hi-warning-primary);
  --Component-Button-sec-light-hi-warning-bg-default: var(--Bg-hi-warning-quarternary);
  --Component-Button-sec-light-hi-warning-fg-hover: var(--Text-hi-warning-primary);
  --Component-Button-sec-light-hi-warning-bg-hover: var(--Bg-hi-warning-tertiary);
  --Component-Button-sec-light-hi-warning-fg-focused: var(--Text-hi-warning-primary);
  --Component-Button-sec-light-hi-warning-bg-focused: var(--Bg-hi-warning-quarternary);
  --Component-Button-sec-light-hi-warning-fg-loading: var(--Text-hi-warning-primary);
  --Component-Button-sec-light-hi-warning-bg-loading: var(--Bg-hi-warning-quarternary);
  --Component-Button-sec-outline-brand-border: var(--Border-brand-secondary);
  --Component-Button-sec-outline-brand-fg-default: var(--Text-brand-primary);
  --Component-Button-sec-outline-brand-fg-hover: var(--Text-brand-primary);
  --Component-Button-sec-outline-brand-bg-hover: var(--Bg-brand-quinary);
  --Component-Button-sec-outline-brand-fg-focused: var(--Text-brand-primary);
  --Component-Button-sec-outline-brand-fg-loading: var(--Text-brand-primary);
  --Component-Button-sec-outline-gray-border: var(--Border-gray-primary);
  --Component-Button-sec-outline-gray-fg-default: var(--Text-primary);
  --Component-Button-sec-outline-gray-fg-hover: var(--Text-primary);
  --Component-Button-sec-outline-gray-bg-hover: var(--Bg-gray-secondary);
  --Component-Button-sec-outline-gray-fg-focused: var(--Text-primary);
  --Component-Button-sec-outline-gray-fg-loading: var(--Text-primary);
  --Component-Button-sec-outline-md-warning-border: var(--Border-md-warning-primary);
  --Component-Button-sec-outline-md-warning-fg-default: var(--Text-md-warning-primary);
  --Component-Button-sec-outline-md-warning-fg-hover: var(--Text-md-warning-primary);
  --Component-Button-sec-outline-md-warning-bg-hover: var(--Bg-md-warning-tertiary);
  --Component-Button-sec-outline-md-warning-fg-focused: var(--Text-md-warning-primary);
  --Component-Button-sec-outline-md-warning-fg-loading: var(--Text-md-warning-primary);
  --Component-Button-sec-outline-hi-warning-border: var(--Border-hi-warning-secondary);
  --Component-Button-sec-outline-hi-warning-fg-default: var(--Text-hi-warning-primary);
  --Component-Button-sec-outline-hi-warning-fg-hover: var(--Text-hi-warning-primary);
  --Component-Button-sec-outline-hi-warning-bg-hover: var(--Bg-hi-warning-tertiary);
  --Component-Button-sec-outline-hi-warning-fg-focused: var(--Text-hi-warning-primary);
  --Component-Button-sec-outline-hi-warning-fg-loading: var(--Text-hi-warning-primary);
  --Component-Button-ter-ghost-brand-fg-default: var(--Text-brand-primary);
  --Component-Button-ter-ghost-brand-fg-hover: var(--Text-brand-primary);
  --Component-Button-ter-ghost-brand-bg-hover: var(--Bg-brand-quinary);
  --Component-Button-ter-ghost-brand-fg-focused: var(--Text-brand-primary);
  --Component-Button-ter-ghost-brand-fg-loading: var(--Text-brand-primary);
  --Component-Button-ter-ghost-gray-border: var(--Border-gray-primary);
  --Component-Button-ter-ghost-gray-fg-default: var(--Text-primary);
  --Component-Button-ter-ghost-gray-fg-hover: var(--Text-primary);
  --Component-Button-ter-ghost-gray-bg-hover: var(--Bg-gray-secondary);
  --Component-Button-ter-ghost-gray-fg-focused: var(--Text-primary);
  --Component-Button-ter-ghost-gray-fg-loading: var(--Text-primary);
  --Component-Button-ter-ghost-md-warning-border: var(--Border-md-warning-primary);
  --Component-Button-ter-ghost-md-warning-fg-default: var(--Text-md-warning-primary);
  --Component-Button-ter-ghost-md-warning-fg-hover: var(--Text-md-warning-primary);
  --Component-Button-ter-ghost-md-warning-bg-hover: var(--Bg-md-warning-tertiary);
  --Component-Button-ter-ghost-md-warning-fg-focused: var(--Text-md-warning-primary);
  --Component-Button-ter-ghost-md-warning-fg-loading: var(--Text-md-warning-primary);
  --Component-Button-ter-ghost-hi-warning-border: var(--Border-hi-warning-secondary);
  --Component-Button-ter-ghost-hi-warning-fg-default: var(--Text-hi-warning-primary);
  --Component-Button-ter-ghost-hi-warning-fg-hover: var(--Text-hi-warning-primary);
  --Component-Button-ter-ghost-hi-warning-bg-hover: var(--Bg-hi-warning-tertiary);
  --Component-Button-ter-ghost-hi-warning-fg-focused: var(--Text-hi-warning-primary);
  --Component-Button-ter-ghost-hi-warning-fg-loading: var(--Text-hi-warning-primary);
  --Component-Button-ter-text-brand-fg-default: var(--Text-brand-primary);
  --Component-Button-ter-text-brand-fg-hover: var(--Text-brand-primary);
  --Component-Button-ter-text-brand-fg-focused: var(--Text-brand-primary);
  --Component-Button-ter-text-brand-fg-loading: var(--Text-brand-primary);
  --Component-Button-ter-text-gray-fg-default: var(--Text-primary);
  --Component-Button-ter-text-gray-fg-hover: var(--Text-primary);
  --Component-Button-ter-text-gray-bg-hover: var(--Text-primary);
  --Component-Button-ter-text-gray-fg-focused: var(--Text-primary);
  --Component-Button-ter-text-gray-fg-loading: var(--Text-primary);
  --Component-Button-ter-text-md-warning-fg-default: var(--Text-md-warning-primary);
  --Component-Button-ter-text-md-warning-fg-hover: var(--Text-md-warning-primary);
  --Component-Button-ter-text-md-warning-fg-focused: var(--Text-md-warning-primary);
  --Component-Button-ter-text-md-warning-fg-loading: var(--Text-md-warning-primary);
  --Component-Button-ter-text-hi-warning-fg-default: var(--Text-hi-warning-primary);
  --Component-Button-ter-text-hi-warning-fg-hover: var(--Text-hi-warning-primary);
  --Component-Button-ter-text-hi-warning-fg-focused: var(--Text-hi-warning-primary);
  --Component-Button-ter-text-hi-warning-fg-loading: var(--Text-hi-warning-primary);
  --Bg-brand-senary: var(--Color-Brand-00);
  --Component-Button-info-brand-fg-default: var(--Text-on_brand);
  --Component-Button-info-brand-bg-default: var(--Bg-brand-primary);
  --Component-Button-info-brand-fg-hover: var(--Text-on_brand);
  --Component-Button-info-brand-bg-hover: var(--Bg-brand-emphasis);
  --Component-Button-info-brand-fg-focused: var(--Text-on_brand);
  --Component-Button-info-brand-bg-focused: var(--Bg-brand-primary);
  --Component-Button-info-brand-fg-loading: var(--Text-on_brand);
  --Component-Button-info-brand-bg-loading: var(--Bg-brand-primary);
  --Component-Button-info-md-warning-fg-default: var(--Text-on_brand);
  --Component-Button-info-md-warning-bg-default: var(--Bg-md-warning-primary);
  --Component-Button-info-md-warning-fg-hover: var(--Text-on_brand);
  --Component-Button-info-md-warning-bg-hover: var(--Bg-md-warning-emphasis);
  --Component-Button-info-md-warning-fg-focused: var(--Text-on_brand);
  --Component-Button-info-md-warning-bg-focused: var(--Bg-md-warning-primary);
  --Component-Button-info-md-warning-fg-loading: var(--Text-on_brand);
  --Component-Button-info-md-warning-bg-loading: var(--Bg-md-warning-primary);
  --Component-Button-info-hi-warning-fg-default: var(--Text-on_brand);
  --Component-Button-info-hi-warning-bg-default: var(--Bg-hi-warning-primary);
  --Component-Button-info-hi-warning-fg-hover: var(--Text-on_brand);
  --Component-Button-info-hi-warning-bg-hover: var(--Bg-hi-warning-emphasis);
  --Component-Button-info-hi-warning-fg-focused: var(--Text-on_brand);
  --Component-Button-info-hi-warning-bg-focused: var(--Bg-hi-warning-primary);
  --Component-Button-info-hi-warning-fg-loading: var(--Text-on_brand);
  --Component-Button-info-hi-warning-bg-loading: var(--Bg-hi-warning-primary);
  --Component-Button-success-brand-fg-default: var(--Text-on_brand);
  --Component-Button-success-brand-bg-default: var(--Bg-brand-primary);
  --Component-Button-success-brand-fg-hover: var(--Text-on_brand);
  --Component-Button-success-brand-bg-hover: var(--Bg-brand-emphasis);
  --Component-Button-success-brand-fg-focused: var(--Text-on_brand);
  --Component-Button-success-brand-bg-focused: var(--Bg-brand-primary);
  --Component-Button-success-brand-fg-loading: var(--Text-on_brand);
  --Component-Button-success-brand-bg-loading: var(--Bg-brand-primary);
  --Component-Button-success-md-warning-fg-default: var(--Text-on_brand);
  --Component-Button-success-md-warning-bg-default: var(--Bg-md-warning-primary);
  --Component-Button-success-md-warning-fg-hover: var(--Text-on_brand);
  --Component-Button-success-md-warning-bg-hover: var(--Bg-md-warning-emphasis);
  --Component-Button-success-md-warning-fg-focused: var(--Text-on_brand);
  --Component-Button-success-md-warning-bg-focused: var(--Bg-md-warning-primary);
  --Component-Button-success-md-warning-fg-loading: var(--Text-on_brand);
  --Component-Button-success-md-warning-bg-loading: var(--Bg-md-warning-primary);
  --Component-Button-success-hi-warning-fg-default: var(--Text-on_brand);
  --Component-Button-success-hi-warning-bg-default: var(--Bg-hi-warning-primary);
  --Component-Button-success-hi-warning-fg-hover: var(--Text-on_brand);
  --Component-Button-success-hi-warning-bg-hover: var(--Bg-hi-warning-emphasis);
  --Component-Button-success-hi-warning-fg-focused: var(--Text-on_brand);
  --Component-Button-success-hi-warning-bg-focused: var(--Bg-hi-warning-primary);
  --Component-Button-success-hi-warning-fg-loading: var(--Text-on_brand);
  --Component-Button-success-hi-warning-bg-loading: var(--Bg-hi-warning-primary);
}

/* 02. Sizing - screen ≥ 1280px */
@media screen and (min-width: 1280px) {
  :root {
    --spacing-0px: var(--Spacing-0px);
    --spacing-2px: var(--Spacing-2px);
    --spacing-4px: var(--Spacing-4px);
    --spacing-8px: var(--Spacing-8px);
    --spacing-12px: var(--Spacing-12px);
    --spacing-16px: var(--Spacing-16px);
    --spacing-20px: var(--Spacing-20px);
    --spacing-24px: var(--Spacing-24px);
    --spacing-32px: var(--Spacing-32px);
    --spacing-40px: var(--Spacing-40px);
    --spacing-48px: var(--Spacing-48px);
    --spacing-64px: var(--Spacing-64px);
    --spacing-80px: var(--Spacing-80px);
    --spacing-96px: var(--Spacing-96px);
    --spacing-128px: var(--Spacing-128px);
    --spacing-160px: var(--Spacing-160px);
    --spacing-192px: var(--Spacing-192px);
    --border-radius-square: var(--Spacing-0px);
    --border-radius-xxs: var(--Spacing-2px);
    --border-radius-xs: var(--Spacing-4px);
    --border-radius-sm: var(--Spacing-6px);
    --border-radius-md: var(--Spacing-8px);
    --border-radius-lg: var(--Spacing-12px);
    --border-radius-xl: var(--Spacing-16px);
    --border-radius-full: 9999px;
    --border-width-default: var(--Spacing-1px);
    --border-width-2px: var(--Spacing-2px);
    --section-content-margin: var(--Spacing-48px);
    --section-content-spacing-between: var(--Spacing-32px);
    --section-side-col-width: var(--Spacing-320px);
    --max-width-xs: var(--Spacing-560px);
    --max-width-ms: var(--Spacing-640px);
    --max-width-navigation-inpage-nav-bar: var(--Spacing-256px);
    --max-width-content-text: var(--Spacing-960px);
    --max-width-content-form: var(--Spacing-1024px);
    --max-width-xl: var(--Spacing-1152px);
    --max-width-content-default: var(--Spacing-1280px);
    --max-width-content-maximum: var(--Spacing-1440px);
    --max-width-content-max-maximum: var(--Spacing-1600px);
    --form-spacing-horizontal: var(--Spacing-16px);
    --form-spacing-vertical: var(--Spacing-20px);
    --button-group-spacing-horizontal: var(--Spacing-8px);
    --screen-size-width-1440px: var(--Spacing-1440px);
    --screen-size-width-1024px: var(--Spacing-1024px);
    --screen-size-width-1920px: var(--Spacing-1920px);
    --screen-size-height-900px: 900px;
    --component-button-height-sm: var(--Spacing-32px);
    --component-button-height-md: var(--Spacing-44px);
    --component-button-height-lg: var(--Spacing-48px);
    --component-button-border-radius-sm: var(--Spacing-8px);
    --component-button-border-radius-md: var(--Spacing-8px);
    --component-button-border-radius-lg: var(--Spacing-10px);
    --component-input-border-radius-lg: var(--Spacing-8px);
    --component-input-border-radius-md: var(--Spacing-8px);
    --component-input-border-radius-sm: var(--Spacing-6px);
    --component-input-height-sm: var(--Spacing-32px);
    --component-input-height-md: var(--Spacing-44px);
    --component-input-height-lg: var(--Spacing-48px);
    --component-input-border-focus: var(--Spacing-4px);
    --max-width-modal-lg: var(--Spacing-1024px);
  }
  
}

/* 02. Sizing - screen 1024 - 1279px */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  :root {
    --spacing-0px: var(--Spacing-0px);
    --spacing-2px: var(--Spacing-2px);
    --spacing-4px: var(--Spacing-4px);
    --spacing-8px: var(--Spacing-8px);
    --spacing-12px: var(--Spacing-12px);
    --spacing-16px: var(--Spacing-16px);
    --spacing-20px: var(--Spacing-20px);
    --spacing-24px: var(--Spacing-24px);
    --spacing-32px: var(--Spacing-32px);
    --spacing-40px: var(--Spacing-40px);
    --spacing-48px: var(--Spacing-48px);
    --spacing-64px: var(--Spacing-64px);
    --spacing-80px: var(--Spacing-80px);
    --spacing-96px: var(--Spacing-96px);
    --spacing-128px: var(--Spacing-128px);
    --spacing-160px: var(--Spacing-160px);
    --spacing-192px: var(--Spacing-192px);
    --border-radius-square: var(--Spacing-0px);
    --border-radius-xxs: var(--Spacing-2px);
    --border-radius-xs: var(--Spacing-4px);
    --border-radius-sm: var(--Spacing-6px);
    --border-radius-md: var(--Spacing-8px);
    --border-radius-lg: var(--Spacing-12px);
    --border-radius-xl: var(--Spacing-16px);
    --border-radius-full: 9999px;
    --border-width-default: var(--Spacing-1px);
    --border-width-2px: var(--Spacing-2px);
    --section-content-margin: var(--Spacing-24px);
    --section-content-spacing-between: var(--Spacing-24px);
    --section-side-col-width: var(--Spacing-288px);
    --max-width-xs: var(--Spacing-480px);
    --max-width-ms: var(--Spacing-640px);
    --max-width-navigation-inpage-nav-bar: var(--Spacing-256px);
    --max-width-content-text: var(--Spacing-960px);
    --max-width-content-form: var(--Spacing-1024px);
    --max-width-xl: var(--Spacing-1152px);
    --max-width-content-default: var(--Spacing-1152px);
    --max-width-content-maximum: var(--Spacing-1152px);
    --max-width-content-max-maximum: var(--Spacing-1152px);
    --form-spacing-horizontal: var(--Spacing-16px);
    --form-spacing-vertical: var(--Spacing-16px);
    --button-group-spacing-horizontal: var(--Spacing-8px);
    --screen-size-width-1440px: var(--Spacing-1024px);
    --screen-size-width-1024px: var(--Spacing-1024px);
    --screen-size-width-1920px: var(--Spacing-1024px);
    --screen-size-height-900px: 700px;
    --component-button-height-sm: var(--Spacing-32px);
    --component-button-height-md: var(--Spacing-44px);
    --component-button-height-lg: var(--Spacing-48px);
    --component-button-border-radius-sm: var(--Spacing-8px);
    --component-button-border-radius-md: var(--Spacing-8px);
    --component-button-border-radius-lg: var(--Spacing-10px);
    --component-input-border-radius-lg: var(--Spacing-8px);
    --component-input-border-radius-md: var(--Spacing-8px);
    --component-input-border-radius-sm: var(--Spacing-6px);
    --component-input-height-sm: var(--Spacing-32px);
    --component-input-height-md: var(--Spacing-44px);
    --component-input-height-lg: var(--Spacing-48px);
    --component-input-border-focus: var(--Spacing-4px);
    --max-width-modal-lg: var(--Spacing-1024px);
  }
}
/* 03. Typography - EOP_chung */
:root {
  --typeface-brand: Inter;
  --typeface-display: Inter Tight;
  --font-weight-400: 400px;
  --display-lg-font-size: 72px;
  --display-lg-line-height: 90px;
  --font-weight-500: 500px;
  --display-md-font-size: 64px;
  --display-md-line-height: 80px;
  --display-sm-font-size: 52px;
  --display-sm-line-height: 64px;
  --heading-lg-font-size: 48px;
  --heading-lg-line-height: 60px;
  --heading-md-font-size: 40px;
  --heading-md-line-height: 52px;
  --heading-sm-font-size: 32px;
  --heading-sm-line-height: 48px;
  --tittle-lg-font-size: 28px;
  --tittle-lg-line-height: 40px;
  --tittle-md-font-size: 24px;
  --tittle-md-line-height: 36px;
  --tittle-sm-font-size: 20px;
  --tittle-sm-line-height: 32px;
  --body-xl-font-size: 18px;
  --body-xl-line-height: 28px;
  --body-lg-font-size: 16px;
  --body-lg-line-height: 24px;
  --body-md-font-size: 14px;
  --body-md-line-height: 20px;
  --body-sm-font-size: 12px;
  --body-sm-line-height: 16px;
  --label-xl-font-size: 16px;
  --label-xl-line-height: 24px;
  --label-lg-font-size: 14px;
  --label-lg-line-height: 20px;
  --label-md-font-size: 12px;
  --label-md-line-height: 16px;
  --label-sm-font-size: 10px;
  --label-sm-line-height: 12px;
  --font-weight-600: 600px;
  --font-weight-700: 700px;
  --font-weight-900: 900px;
}


/* 04. Effect - EOP_chung */
:root {
  --shadow-size-1px: var(--Spacing-1px);
  --shadow-size-2px: var(--Spacing-2px);
  --shadow-size-3px: var(--Spacing-3px);
  --shadow-size-4px: var(--Spacing-4px);
  --shadow-size-6px: var(--Spacing-6px);
  --shadow-size-8px: var(--Spacing-8px);
  --shadow-size-16px: var(--Spacing-12px);
  --alpha-100: 100px;
  --alpha-70: 70px;
  --alpha-60: 60px;
  --alpha-50: 50px;
  --alpha-40: 40px;
  --alpha-30: 30px;
  --alpha-20: 20px;
  --alpha-10: 10px;
}